
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: "Lucida", sans-serif; */
    font-family: sans-serif, Times, serif;

    
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10%;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    z-index: 900;
}
.menu_icons{
    width: 35px;
    cursor: pointer;
    display: none;
}
.logo{
    width: 100px;
    height: 70px;
    /* margin-left: -20%; */
}
button img{
    width: 20px;
    margin-left: 10px;
}
.menu{
    display: flex;
    align-items: center;

}
.menu ul{
    margin-left: 25px;
    display: flex;
    list-style: none;
    /* flex-direction: row; */
    align-items: baseline;
    justify-content: baseline;
}

.menu ul a {
    margin-left: 20px;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    position: relative;

}
.menu ul a:hover {
    color: #f7a800;
}
.menu ul a::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #f7a800;
    transition: 0.1s ease-out;

}







.menu ul a:hover::after {
    width: 100%;
    
}
.add a,#ajouterPhoto,#ajouterVideo{
    color: #bb2337;
    text-decoration: none;
    font-weight: bold;
    
}
a{
    text-decoration: none;
    color: #000;
}

.add{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 17px;

}
.add i{
    margin-right:5px ;
}
button {
     cursor: pointer;
    display: flex;
    align-items: center;
    border: 0;
    padding: 9px 15px;
    background-color: #f7a800;
    color: #fff;
    text-transform: uppercase;
    border-radius: 50px;
    z-index: 200;
    transition: 0.2 ease-out;
    margin-top: 10px; 
     font-weight: bolder;  

    padding: 10px 20px;


 }
 .btn-login:hover{
    transform: scale(1.01);
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.913);
border: 1px solid #ffffff;


} 
/* .btn-logout, */
.btn-login{
    /* font-weight: bolder;  */
    padding: 10px 20px;
    background-color: #f7a800;
letter-spacing: 1px;
cursor: pointer;
text-transform: capitalize;
border-radius: 50px;
margin: 0px;
z-index: 11;


}

button span{
    font-family: 'Anton',sans-serif;
    font-size: 13px;
    width: 100%;
    text-align: center ;
}
.alert-success{
    background-color: #c3e8ff;
    border: 1px solid #009dffd4;
    border-radius: 15px;
    padding: 10px;
    color: #000;
    z-index: 700;

}
.home{
    position: relative;
    margin-top: 60px;
    height: 350px;
    background-image: url('/images/tajine.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    gap: 20px;
    /* padding-top: 40px; */
}
.home::after{
    content: "";
    position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* width: 100%;
        height: 100%; */

        background-color: rgba(0, 0, 0, 0.5); /* Fond sombre avec transparence */
        opacity: 30%;
        z-index: 1; /* Derrière le contenu principal */

}
.Cuisiniers{
    margin: auto;
    padding: 20px;
    /* height: auto; */
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    padding-bottom: 60px;

}
.home p{
    /* margin-bottom: 10px; */
    z-index: 800;


}


h1{
    font-size: 51px;
    text-align: center;
    margin-top: 75px;
    /* text-transform: uppercase; */
    font-weight: lighter;
    z-index: 800;
    /* font-family: sans-serif, Times, serif; */

    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Courier, monospace,sans-serif; */

}
.AuthBtn{
    display: flex;
    font-weight: bolder;
    gap: 10px;
}
.Cuisiniers p{
    font-size:13px;
    padding: 4px;

  } 
 .cuisiniers-list {
     
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    /* height: 200px; */
    

 }  
 .cuisiniers-list img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
    /* padding: 20px; */

} /*
h2{
    text-transform: uppercase;
    font-size: 20px;
    /* text-align: center; */


/* } */

 .cuisiniers-list .card {
    transition: 0.5s ease-out;
    cursor: pointer;
    margin: 7px;
    padding: 10px;
    flex-wrap: wrap;
    border: 1px solid rgb(227, 225, 225);
    border-radius: 15px;


    /* height: 200px; */

}
 .cuisiniers-list .card:hover { 
    transform: scale(1.05);
    box-shadow: 0 0 9px rgba(0,0,0,0.1);


}  

footer {
    background-color: #000;
    color: #fff;
    padding: 10px 10px;
    /* margin-top: 200px; */
    width: 100%;
    /* height: 200px; */
}

.footer-content {
    /* display: flex; */
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    margin-bottom: 20px;

}

.about h3,
.links h3,
.contact h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    padding: 7px;
}

.footer-section a:hover {
    text-decoration: underline;
}
.footer-section p {

    padding: 7px;
}

.footer-bottom {
    background-color: #111;
    text-align: center;
    padding: 10px 0;
}
.footer-contact{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    flex-direction: row;
    margin-top: 20px;
    padding-top: 20px;
}
.about p,.about h3{
    margin: 10px 80px;

}

@media screen and (max-width: 768px) {
    .menu ul {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #fff;
        width: 100%;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 99;
    }
    h1{
    font-size: 30px;

    }
    .add{
        
        margin: 7px;
        margin-bottom: 20px;
        font-size: 13px;
    
    }
    
    .add i{
        margin-right:5px ;
    }

    .menu ul.active {
        display: flex;
        flex-direction: column;
    }

    .menu ul li {
        margin: 10px 0;
    }

    .menu_icons {
        display: block;
    }

    .menu_icons img {
        width: 30px;
    }

    .logo {
        width: 80px;
        /* margin-left: -10px; */
    }

    .header-end {
        /* margin-right: 10px; */
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        padding: 0px 40px;
    }

    .footer-section.about h3,
    .footer-section.links h3,
    .footer-section.contact h3 {
        margin: 10px 0;
    }

    .footer-section ul {
        margin-bottom: 20px;
    }

    .footer-section a {
        padding: 5px;
    }

    .footer-contact {
        flex-direction: column;
    }

    .footer-section.about p,
    .footer-section.about h3 {
        margin: 10px auto;
    }
} 

@media screen and (max-width: 768px) {
    .cuisiniers-list {
        flex-direction: column;
        align-items: center;
    justify-content: center;

    /* flex-wrap: wrap; */

        /* gap: 120px; */
        
    }

    .card {
        /* width: 90%; */
        margin-bottom: 20px;
        border-radius: 10px;
        /* text-align: center; */
        /* height: 500px; */

        /* overflow: hidden; */
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    }

    .card img {
        /* width: 90%; */
        /* height: 200px; */
        border-radius: 10px 10px 0 0;
    }

   

    
}
.specialite {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.card-sp {
    transition: 0.5s ease-out;
    cursor: pointer;
    text-align: center;
    
    /* padding: 5px; */
}

.card-sp img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0 0 9px rgba(0,0,0,0.1);

}

.card-sp h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
    /* color: #333; */
}
h3{
    /* margin: 20px auto; */
    /* text-align: center; */
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
    /* color: #f7a800; */
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    color: rgb(48, 48, 48);


}
.cuisiniers-list .card {
    transition: 0.5s ease-out;
    cursor: pointer;
    /* margin: 10px; */
    padding: 15px;
    flex-wrap: wrap;
   


    /* height: 200px; */

}
.card-sp:hover { 
    transform: scale(1.05);

}
.photos{
    margin-bottom: 50px;
}
.profil{
    border: 1px solid rgb(220, 218, 218);
    padding: 0px 60px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: 100px auto 30px;
    border-radius: 15px;
    /* padding-top:40px ; */
    
}
.info-profil{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    width: 100%;
    gap: 10px;
    /* margin: auto; */
    /* padding: 20px; */
    margin-top: 10px;

}
.img-plats {
    width: 40%;
    align-items: center;
    /* border: 1px solid black; */
}
.info{
    width: 50%;
    align-items: center;
    padding-left: 10px;
}
.img-plats img{
    width: 80%;
    border-radius: 15px;
    
}
td p{
    font-size:5px;
    padding: 7px;
    font-size: large;

  } 
  .back-icons{
    display: flex;
    justify-content: start;
    margin: 60px 0px 20px 0px;
    /* margin-right: 600px; */
    /* padding: 65px; */
    /* padding: 20px 60px 10px 20px; */
    /* padding: 0px; */

  }
td {
    border-bottom: 1px solid rgb(238, 237, 237);
    padding: 10px ;
    border-top: none;
    border-left: none;
    border-right: none;
    letter-spacing: -.6px;
    /* width: 50%; */

  }
  table{
    border: none;
  }
  th{
    width: 140px;
    text-align: start;
  }
   .profil h2 ,.profil h2{
    text-align: start;
  }
  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 180px;
  }
  
  div.desc {
    padding: 15px;
    height: 60px;

    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
    
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .video-container {
    width: 47%;
    padding: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    
  }
  
  .responsive-video {  
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
  
  .responsive-video iframe, .responsive-video video {
    position: absolute;
    width: 100%;
    height: 100%;  
  }
  .Vedios{
    display: flex;
    flex-wrap: wrap;
  }
  
  
  @media only screen and (max-width: 700px) {
    .video-container{    
    width: 80%;
      margin: 6px 0;
    }
    .info-profil{
        flex-direction: column;
    }
    .profil{
        
        padding: 10px;
        margin:20px auto;
               
    }
    .img-plats {
        width: 100%;
        align-items: center;
        /* border: 1px solid black; */
    }
    
    .img-plats img{
        width: 100%;
        border-radius: 15px;
        
    }
    td p{
    
    font-size: 15px;

    }
    th{
        width: 110px;
        text-align: start;
    font-size: 15px;

      }
    td{
    padding: 2px;

    }
    .info{
        width: 90%;
        align-items: center;
        padding-left: 10px;
    }
    .modal-content {
        width: 90%;
        /* max-height: 80%; */
        display: block;
        margin: 0 auto;
    }

  }


  @media only screen and (max-width: 500px) {
    .video-container {
      width: 100%;
    }

  }
  /* ///////////////////////// */
  /* .image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.image-item {
    flex: 1 1 200px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.image-item:hover {
    transform: scale(1.1);
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    justify-content: center;
    align-items: center;
}
.modal-content {
    max-width: 80%;
    max-height: 80%;
}
.btn-container {
    margin-top: 10px;
}
.btn {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}


.btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.btn {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
} */

.image-gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}
.image-item {
    cursor: pointer;
    transition: transform 0.3s ease;
}
.image-item:hover {
    transform: scale(1.1);
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    justify-content: center;
    align-items: center;
}
.modal-content {
    max-width: 600px;
    height: 300px;
    /* max-height: 80%; */
    display: block;
    margin: 0 auto;
}
.btn-container {
    margin-top: 10px;
    text-align: center;
}
.btn {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}
.btn-prev {
    position: absolute;
    left: 20px;
    text-align: center;
}
.btn-next {
    position: absolute;
    right: 20px;
    text-align: center;

}
#bloc-paiement ,#blocpaiement,#confirmation-suppression{
    /* position: absolute;
    background-color: #fff;
    border: 1px solid #b8b6b6;
    padding: 20px;
    z-index: 1;
    width: 400px; */
    /* top: calc(100% - 300px); 
    left: 60%; 
    transform: translateX(-50%);
    display: none;  */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    padding: 20px;
    width:400px;


    
}

#bloc-paiement h3 ,#blocpaiement h3{
    margin-top: 0px;
    margin-bottom: 15px;
}
h4 + p {
    color: #6e6e6e;
    padding: 10px;
}
@media only screen and (max-width: 768px) {
    #bloc-paiement,#blocpaiement {
        width:300px;

    font-size: 15px;
    

    /* top: calc(100% - 150px); Distance de 10px entre le bas du bouton et le haut du bloc */

    

    }
}

@media only screen and (max-width: 500px) {
    #bloc-paiement ,#blocpaiement {

    font-size: 15px;
    /* top: calc(100% - 200px); Distance de 10px entre le bas du bouton et le haut du bloc */


         
    }
}
#chefProfileForm h2{
    /* width: 70%; */
    margin-top: 0px;



}

#chefProfileForm input{
    /* width: 70%; */
    border: 1px solid rgb(215, 215, 215);
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;




}
#search{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(224, 224, 224);
    gap: 10px;

}
#search select{
    padding: 10px 17px;
    text-align: center;
    border: 1px solid rgb(222, 222, 222);
    margin-right: 20px;
    border-radius: 15px;

}
#search button{
    padding: 10px 17px;
   
}
#search label{
    font-weight: bold;
    font-size: 14px;
   
}
#search input{
    border-radius: 15px;
    margin-right: 20px;

    padding: 10px 17px;
    text-align: center;
    border: 1px solid rgb(222, 222, 222);
}
form{
    width: 90%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    padding: 0px 60px 60px 60px ;

}
input{
    padding: 10px;
}
@media only screen and (max-width: 500px) {
    #search{
        
        justify-content: start;
        flex-direction: column;
        align-items: start;
        border-bottom: 1px solid rgb(224, 224, 224);
        gap: 10px;
    
    }
}
/* Style pour la pagination */
.pagination {
    margin: 5px 0;
    text-align: end;
}

.pagination > li {
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
}

.pagination > .active > span {
    background-color: #bb2337;
    color: #fff;
    padding: 2px 5px;

    border-color: #bb2337;
}


.pagination > li > a,
.pagination > .disabled > span {
    color: #bb2337;
}

.pagination > .disabled > span {
    pointer-events: none;
}
.pagination p{
    color: grey;
    font-size: 10px;
}
.pagination .btn{
    display: none;
}
.dropbtn {
    background-color: #f7a800;
    color: white;
    padding: 9px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 20px;


  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* margin-left: 0px; */
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #ffb30f;
  }

  .button-container {
    margin-top: 10px;
    display: flex;
    justify-content: end;
    align-items: baseline;
}


.edit-button {
    color: #16a51b; /* Couleur de fond */
    border: 2px solid #f7a800;
    padding: 10px 20px; /* Espacement interne */
    text-decoration: none; /* Suppression du soulignement */
    border-radius: 50px; /* Coins arrondis */
    margin-right: 10px; /* Marge à droite */
    font-weight: bolder;

}


h2{
    text-align: center;
    margin-bottom: 40px;
}
.form-delete{
    margin: 0px;
    padding: 0px;
}
.form-delete .delete-button {
    margin: 0px;
    padding: 0px;
    padding: 10px 30px 10px 20px;
    background-color: white;
    margin: 0px 10px 0px 0px;
    font-weight: bolder;
    color: rgb(194, 15, 15);
    border-radius: 50px;
    border: 2px solid #f7a800;
    
}
bloc

/* Styles au survol */
 .delete-button:hover {
    background-color:rgb(194, 15, 15) ;
    color: white;
    transition: opacity 0.3s ease; /* Animation de transition */
}
.edit-button:hover {
    background-color: #16a51b;
    color: white;
    transition: opacity 0.3s ease; /* Animation de transition */
}
.alert-danger{
    background-color: rgb(255, 206, 223);
    padding: 20px 40px;
    border-radius: 15px;
    border: 1px solid rgb(253, 98, 98);
    color: red;
}